{% extends 'empresa/base_index.html' %}
{% comment %} Extendemos la base y agregamos los campos {% endcomment %}

{% block title%} Crear producto {% endblock title%}

{% load static%}
{% block css%}
  <link rel="stylesheet" type="text/css" href="{% static 'css/producto/crear.css'%}">
{% endblock css%}

{% block body%}
  <h1>Aquí puedes crear nuevos productos</h1>
  <form method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="formulario">

        <div class="field">
          <label for="nombre">NOMBRE</label>
          {{formulario.nombre}}
        </div>

        <div class="field">
          <label for="codigo_barras">CODIGO DE BARRAS</label>
          {{formulario.codigo_barras}}
        </div>

        <div class="field">
          <label for="precio_venta">PRECIO</label>
          {{formulario.precio_venta}}
        </div>

        <div class="field">
          <button class="btn" type="submit">CREAR</button>
        </div>

      </div>
    </form>
{% endblock body%}

{% block js%}
  <script src="{% static 'js/producto/crear.js'%}"></script>
{% endblock js%}
