{% extends 'empresa/base_index.html' %}
{% comment %} Extendemos la base y agregamos los campos {% endcomment %}

{% block title%} Crear producto {% endblock title%}

{% load static %}
{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/producto/crear.css'%}">
{% endblock css%}

{% block body%}

    {% if error%}
        {{error}}
        <h2>No existe el producto especificado</h2>
    {% else %}
        <h1>Aquí puedes modificar los productos</h1>
        <form method="POST">
            {% csrf_token %}
            <div class="formulario">

                <div class="field">
                <label for="nombre">NOMBRE</label>
                {{formulario.nombre}}
                </div>

                <div class="field">
                <label for="codigo_barras">CODIGO DE BARRAS</label>
                {{formulario.codigo_barras}}
                </div>

                <div class="field">
                <label for="precio_venta">PRECIO</label>
                {{formulario.precio_venta}}
                </div>

                <div class="field">
                <button class="btn" type="submit">EDITAR</button>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock body%}

{% block js%}
{% endblock js%}
