{% extends 'empresa/base_index.html' %}
{% comment %} Extendemos la base y agregamos los campos {% endcomment %}

{% block title%} Eliminar producto {% endblock title%}

{% load static %}
{% block css%}
    <link rel="stylesheet" type="text/css" href="{% static 'css/producto/eliminar.css'%}">
{% endblock css%}

{% block body%}

    {% if error%}
        {{error}}
        <h2>No existe el producto especificado</h2>
    {% else %}
        <h2>¿Deseas eliminar <span id="nombre_producto">{{producto.nombre}}</span> de la base de datos?</h2>
        <h3>Esta acción no se puede revertir y tendras que agregarlo manualmente de nuevo si lo quieres recuperar</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="container_btn">
                <input class="btn" id="btn_cancelar" type="submit" value="Cancelar" name="cancelar">
                <input class="btn" id="btn_eliminar" type="submit" value="eliminar" name="eliminar">
            </div>
        </form>
    {% endif %}
{% endblock body%}

{% block js%}
{% endblock js%}
