{% extends 'empresa/base_index.html' %}
{% comment %} Extendemos la base y agregamos los campos {% endcomment %}

{% block title%} Productos {% endblock title%}

{% load static %}
{% block css%}
{% endblock css%}

{% block body%}
<h1>Productos</h1>

<div class="container_btn">
  <form action="{% url 'producto:crear_producto' %}">
    <input class="btn" type="submit" value="Crear un Producto">
  </form>

  <form action="{% url 'producto:ver_producto' %}">
    <input class="btn" type="submit" value="Lista de productos">
  </form>
</div>

{% endblock body%}

{% block js%}
{% endblock js%}