{% extends 'empresa/base_index.html' %}
{% comment %} Extendemos la base y agregamos los campos {% endcomment %}

{% block title%} Ver producto {% endblock title%}

{% load static %}
{% block css%}
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/producto/ver.css'%}">
{% endblock css%}

{% block body%}

  <h3>Busca el producto escaneando el codigo o escribiendo el nombre</h3>

  <div id="ver_container">

    <form method="GET" autocomplete="off">
      <div id="filtros">
        {{filtro.form.codigo_barras}}
        {{filtro.form.nombre}}
        <input type="submit" value="Buscar" class="btn_list" id="btn_buscar">
      </div>
    </form>

    <div id="listado">
      {% if productos %}
        <table id="lista_productos">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Codigo</th>
              {% comment %} <th>Marca</th>
              <th>Departamento</th>
              <th>Descripcion</th>
              <th>Inventario</th>
              <th>Precio Compra</th> {% endcomment %}
              <th>Precio Venta</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            {% for producto in productos%}
              <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.nombre}}</td>
                <td>{{producto.codigo_barras}}</td>
                {% comment %} <td>{{producto.marca}}</td> {% endcomment %}
                {% comment %} <td>{{producto.departamento}}</td> {% endcomment %}
                {% comment %} <td>{{producto.descripcion}}</td> {% endcomment %}
                {% comment %} <td>{{producto.cantidad_inventario}}</td> {% endcomment %}
                {% comment %} <td>{{producto.precio_compra}}</td> {% endcomment %}
                <td>${{producto.precio_venta}}</td>
                <td id="opciones">
                  <form action="{% url 'producto:editar_producto' producto.codigo_barras %}">
                    <input class="btn_list" id="btn_editar" type="submit" value="EDITAR">
                  </form>
                  <form action="{% url 'producto:eliminar_producto' producto.codigo_barras %}">
                    <input class="btn_list" id="btn_eliminar" type="submit" value="ELIMINAR">
                  </form>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <h1>No existen productos, <a href="{% url 'producto:crear_producto'%}">agrega uno primero</a></h1>
      {% endif %}
    </div>
  </div>

  <div class="pagination">
    {% for page in paginator.page_range %}
      
      {% comment %} El if permite activar el css para resaltar la pagina actual {% endcomment %}
        <a class="page_link {% if page == page_number %} active {% endif %}" href='?page={{ page }}'>{{page}}</a>
    {% endfor %}
  </div>

{% endblock body%}

{% block js%}
  <script src="{% static 'js/producto/ver.js'%}"></script>
{% endblock js%}
