.formulario{
    display: grid;
    grid-template-rows: repeat(4, auto);
    justify-content: center;
    align-content: center;
    row-gap: 10px;
}

/* Este class esta definido en el form */
.campo{
    background-color: white;
    border-radius: 5px;
    border-style: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: xx-large;
    margin: 5px 5px 5px 5px;
}

.field{
    display: grid;
    grid-template-rows: auto, auto;
    justify-content: center;
    align-content: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.field label{
    text-align: center;
    font-size: larger;
}

.btn{
    margin-top: 20px;
}

.onFocus{
    background-color: rgb(51, 185, 129);
}