#btn_cancelar{
    background-color: rgb(51, 185, 129);
}

#btn_eliminar{
    background-color: rgb(221, 89, 89);
}

h2{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
}

h3{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
}

#nombre_producto{
    text-decoration: underline red;
    text-transform: uppercase;
}