#ver_container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    row-gap: 30px;
}

#filtros{
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding: 10px, 10px, 10px, 10px;
    background-color:#8ac6d19a;
}

.campo_filtro{
    background-color: white;
    border-radius: 5px;
    border-style: none;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: large;
    margin: 5px 5px 5px 5px;
    text-align: center;
}

h3{
    font-family: 'Heebo', sans-serif;
    text-align: center;
}

#lista_productos{
    font-family: 'Heebo', sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 600;
}

#lista_productos td, #lista_productos th {
    border: 1px solid #ddd;
    padding: 8px;
}

#lista_productos tr:nth-child(odd){
    background-color: #d7faf8;
}

#lista_productos tr:nth-child(even){
    background-color: #fffdf9;
}

#lista_productos tr:hover {
    background-color: #8ac6d1;
    color: white;
}

#lista_productos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8ac6d1;
    color: white;
    text-align: center;
}

h1 a{
    text-decoration: none;
    color: black;
}

.btn_list{
    border-radius: 4px;
    background: #8ac6d1;
    border: none;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 5px;
    transition: all 0.4s;
    cursor: pointer;
    margin: 5px;
}

.btn_list a{
    text-emphasis: none;
    text-decoration: none;
    color: white;
}

.btn_list:hover {
  transform: scale(1.05);
}

#btn_editar{
    background-color: rgb(51, 185, 129);
}

#btn_eliminar{
    background-color: rgb(221, 89, 89);
}

#btn_buscar{
    color: black;
    background-color: rgb(255, 255, 255);
    transition: all 0.4s;
}

#btn_buscar:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

#opciones{
    display: grid;
    grid-template-columns: repeat(2, auto);
    width: auto;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination .active {
    background-color: #8ac6d1;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}