<!DOCTYPE html>
<html lang="es">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} Bloque para el titulo {% endcomment %}
    <title>{{request.user}} | {% block title%}TiendaSimple {% endblock title%}</title>

    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/empresa/base_index.css'%}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}" />
    {% comment %} Bloque para el CSS {% endcomment %}
    {% block css%}
    {% endblock css%}


  </head>

  <body>
    <div id="container">

      {% comment %} Bloque para el sideBar {% endcomment %}
      <div id="navBar">
        <a href="{% url 'empresa:index' %}"><img class="animate__animated animate__pulse" src="{% static 'img/logo_header.png' %}"></a>
        <a href="{% url 'producto:index_producto' %}"><h3 class="animate__animated animate__fadeInDown animate__slow">Productos</h3></a>
        <a href="{% url 'empresa:index' %}"><h3 class="animate__animated animate__fadeInDown animate__slow">Ventas</h3></a>
        <a href="{% url 'cuenta:cerrar_sesion' %}"><h3 class="animate__animated animate__fadeInDown animate__slow">{{request.user}} | Cerrar Sesión</h3></a>
      </div>

      <div id="mainPage">
        {% comment %} Bloque para el contenido dinamico de la pagina {% endcomment %}
        {% block body%}
          <div id="Textoprovicional">
            <h1>{{request.user}}, Bienvenid@ a TiendaSimple</h1>
            <h2>Esta aplicación esta pensada para apoyar a los pequeños negocios que necesitan llevar un registro basico de inventario, puedes ver los productos disponibles dando click en productos</h2>
            <img src="https://media.tenor.com/images/bf508300d01b9866fde1c926d8d9ee90/tenor.gif">
            <p>Version de desarrollo v0.5</p>
            <p>Python con su framework Django 3 para el backend</p>
            <p>HTML5, CSS3 y Javascript para el frontend</p>
            <p>PostgreSQL para el SMBD</p>

            <p>Siguiente a implementar Inicio de sesiones y permisos </p>
          </div>
        {% endblock body%}
      </div>

      <footer>
        <p>
          Made with &#129505;🏳️‍🌈 by <a href="https://github.com/Lechuga194">Lechuga194</a> | &copy; Copyright 2020 Lechuga194
        </p>
      </footer>

    </div>

    {% comment %} Bloque para Javascript {% endcomment %}
    {% block js%}

    {% endblock js%}
    <script src="{% static 'js/empresa/base_index.js' %}"></script>

  </body>

</html>